<div class="container mt40 well">
  <div class="col-sm-3">
    <h1>New Cat Gif</h1>
    <%= render 'form' %>
    <%= link_to 'Home', cat_gifs_path %>
  </div>
  <div class="col-sm-9" id="aiko">
    <img src="https://photos-3.dropbox.com/t/2/AABBTJHvRoVfmPYcmxIPmAPYXJMYQ4kmaX5gWuzZxW_GoA/12/42858996/jpeg/32x32/1/_/1/2/2015-09-18%2021.18.36.jpg/ELbd4SAY2swoIAcoBw/gJFq4vnX-h5PDXq0XNC32sP8t7uXe_yWaU5JbX-OnaU%2C4ZYv7F2w0IVThRcvqsj8uDHKGO4RhBppXmxJF7EsJ_I?size=1280x960&size_mode=2" alt="">
  </div>
</div>