<div class="container well mt40">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Contact Us</h2>
      <address>
        <strong>Catster</strong>
        <br>855 Front St.
        <br>San Francisco, CA 94111
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>(415) 867-5309
        <br>
        <abbr title="Email">E:</abbr> <a href="mailto:catdaddy@catster.com">catdaddy@catster.com</a>
      </address>
    </div>
  </div>
</div>