<!-- Footer -->
<footer class="text-center">
  <div class="row">
    <div class="col-lg-12 ">
      <p>Handcrafted in San Francisco <i class="glyphicon glyphicon-flash"></i> We select only the finest bits <i class="glyphicon glyphicon-flash"></i> Always locally sourced from sustainable election fields.</p>
    </div>
  </div>
  <!-- /.row -->
</footer>